/* start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Borel', cursive;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small devices (tablets, 768px and up) */

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/*  Medium devices (desktops, 992px and up) */


@media (min-width:992px) {
    .container {
        width: 970px;
    }
}


/* large devices (large desktops, 1200px and up) */

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }


}

/* Extra large devices ( 1400px and up) */
@media (min-width:1400px) {
    .container {
        width: 1320px;
    }
}

/* end global rules */
:root {
    --main-color: #7335b7;
}

:root {
    --second-color: #f8842b;
}

.special-heading {
    color: #000;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 40px;
    font-weight: 700;
    font-size: 2rem;
}

.special-h4-of-footer {
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
}

header {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 0px 0px 400px 0px;
}

.slider-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 0px 0px 400px 0px;
}

.slider-section ul li {
    list-style: none;
}

.slider-section ul {
    display: flex;
}

.list-special {
    background-color: #fff;
    font-weight: 400;
    text-align: center;
    padding: 5px 25px;
    color: #000;
    border: 1px solid white;
    border-radius: 8px;
}

.slider-section a {
    text-decoration: none;
}

.slider-section span {
    font-weight: 700;
    color: #fff;
    font-size: 33px;
}

.get-quote a {
    background-color: var(--second-color);
    font-weight: 400;
    font-size: 18px;
    padding: 7px 25px;
    display: inline-block;
    border: 1px solid var(--second-color);
    border-radius: 5px;
    color: white;
}

.list {
    font-weight: 400;
    text-align: center;
    color: #fff;
    padding: 5px 25px;
}

.list:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid white;
    border-radius: 8px;
}

.get-quote {
    transition: 0.5s;
}

.get-quote:hover {
    transform: translate(0px, -5px);
}


.icon {
    display: flex;
    flex-wrap: wrap;
    width: 35px;
    justify-content: flex-end;
}

.links .icon span:first-child {
    background-color: white;
    height: 5px;
    width: 100%;
    margin-bottom: 6px;
    border: 1px solid white;
    border-radius: 3px;
}

.links .icon span:nth-child(2) {
    background-color: white;
    height: 5px;
    width: 100%;
    margin-bottom: 6px;
    border: 1px solid white;
    border-radius: 3px;
}

.links .icon span:last-child {
    background-color: white;
    height: 5px;
    width: 100%;
    margin-bottom: 6px;
    border: 1px solid white;
    border-radius: 3px;
}


.first-section .slider1 {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 80px;
}

.slider1 .image {
    width: 500px;
    height: 500px;
    display: inline-block;
}


.slider1 img {
    max-width: 100%;
    max-height: 100vh;
    display: inline-block;
}

.first-section .slider1 .text-of-slider1 {
    flex-basis: calc(100% - 550px);
    text-align: center;
    transform: translate(0px, 150px);

}

.text-of-slider1 h1 {
    color: white;
    margin-top: 0px;
    font-size: 2.5rem;
    font-weight: 700;
}

.text-of-slider1 .first-p {
    color: white;
    line-height: 1.7;
    padding-bottom: 50px;
    font-size: 1rem;
    text-align: center;
}

.text-of-slider1 a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 1.5px;
    background-color: #5a2a8f;
    padding: 15px 40px;
    border: 1px solid #5a2a8f;
    border-radius: 5px;

}

.contact-Us-booton {
    transition: 0.5s;
}

.contact-Us-booton:hover {
    transform: translate(0px, -5px);
}


@media (max-width:767px) {
    header {
        background-color: var(--main-color);
        border: 1px solid var(--main-color);
        border-radius: 0px 0px 450px 0px;
    }

    .slider1 .image {
        width: 300px;
        height: 300px;
        display: inline-block;
    }

    .first-section .slider1 .text-of-slider1 {
        padding-bottom: 100px;
    }

    .slider1 .image {
        width: 300px;
        height: 300px;
        display: inline-block;
    }
}


@media (min-width:992px) {
    .second-header {
        display: none;
    }

    .second-links {
        display: none;
    }
}

@media (max-width:992px) {

    .slider-section {
        display: none;
    }

    .first-section .slider1 {
        padding-bottom: 235px;
        justify-content: center;
        text-align: center;
    }

    .first-section .slider1 .text-of-slider1 {
        flex-basis: calc(100% - 100px);
    }

    .second-header {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 5px;
        align-items: center;
    }

    .second-links ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        gap: 25px;
        margin-top: 100px;
        padding-left: 0px;
    }

    .second-links a {
        text-decoration: none;

    }

    .second-header span {
        font-weight: 700;
        color: #fff;
        font-size: 33px
    }

}

@media (max-width:1199px) {
    .first-section .slider1 .text-of-slider1 {
        transform: translate(0px, 80px);
    }
}


/* start serveces */


.services-section {
    position: relative;
    padding-top: 60px;
    padding-bottom: 50px;

}

.text-of-services {
    text-align: center;
    padding-bottom: 50px;
}

.text-of-services .special-heading {
    padding-bottom: 0px;
}

.text-of-services p {
    padding-bottom: 40px;
}

.content-services {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);
    text-align: center;
    padding: 40px 20px;
    border-radius: 10px;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}

.content-services::after {
    content: "";
    width: 275px;
    height: 275px;
    position: absolute;
    right: -137.5px;
    bottom: -137.5px;
    background-color: #faf8fd;
    z-index: -1;
    border-radius: 100%;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.content-services:hover::after {
    background-color: #7335b7;
    transform: scale(5);
}

.content-services:hover {
    color: #fff;
}

.content-services:hover a {
    color: #fff;
}

.content-services a {
    text-decoration: none;
    color: #000;
}

.flx1 {
    position: relative;
}

.content-services i:first-child {
    font-size: 60px;
}

.content-services i:last-child {
    padding-left: 5px;
}

.content-services h5 {
    font-weight: 700;
    font-size: 1.25rem;
}

.flx2 {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 20px;
    padding-bottom: 100px;
}




@media (max-width:767px) {
    .flx2 {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 35px;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}


@media (max-width: 992px) {
    .flx2 {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
}

.view-more-booton {
    text-align: center;
    transition: 0.5s;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.view-more-booton:hover {
    padding-bottom: 25px;
}

.view-more-booton a {
    text-align: center;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1.5px;
    background-color: #7335b7;
    ;
    padding: 10px 45px;
    border: 1px solid #7335b7;
    ;
    border-radius: 5px;

}
/* end serveces */

.section-about {
    background-color: var(--main-color);
    margin-top: 100px;
    margin-bottom: 60px;
    border: 1px solid var(--main-color);
    border-radius: 250px 0px 250px 0px;
}

.section-about .slider1 .text-of-slider1 {
    flex-basis: calc(100% - 550px);
    padding-left: 40px;
    transform: translate(0px, 100px);
}

.section-about .slider1 .image {
    padding-right: 60px;
}


.section-about .slider1 .text-of-slider1 p {
    max-width: 565px;
    color: #fff;
    padding-bottom: 60px;
    line-height: 1.7;
}

.section-about .slider1 {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 35px;
    padding-top: 25px;
}




.section-about .slider1 .text-of-slider1 a {
    background-color: #f8842b;
    padding: 12px 40px;
    border-radius: 5px;
    border: 1px solid #f8842b;
}

@media (max-width:992px) {
    .section-about .slider1 .image {
        padding-top: 200px;
        padding-right: 0px;
    }

    .section-about .slider1 {
        padding-bottom: 275px;
        align-items: center;
        margin-top: -15px;
        justify-content: center;
        text-align: center;
    }

    .section-about .slider1 .text-of-slider1 {
        flex-basis: calc(100% - 100px);
    }

    .section-about .slider1 .text-of-slider1 p {
        max-width: none;
    }
}



@media (max-width:767px) {
    .section-about .slider1 .image {
        padding-top: 200px;
        text-align: center;
    }

    .section-about .slider1 {
        padding-bottom: 275px;
    }

}

.case-Studies {
    padding-top: 60px;
    padding-bottom: 60px;
}

.card1 img {
    max-width: 100%;
}

.text-of-Studies {
    text-align: center;
    padding: 25px 20px;
}

.text-of-Studies h5 {
    font-weight: 700;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 20px;
}

.text-of-Studies p {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.text-of-Studies a,
.text-of-Studies i {
    color: #7335b7;
}

.card1 {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
    border-radius: 10px;
}

.section-of-Studies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    column-gap: 40px;
    justify-content: space-between;
    padding: 40px 20px;
}

@media (max-width:992px) {
    .section-of-Studies {
        gap: 60px
    }

    .card1 img {
        text-align: center;
        width: 100vw;
    }

}

.clinet-section {
    position: relative;
    margin-bottom: 70px;
}

.image-of-clinet {
    text-align: center;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.clinet-section img {
    border-radius: 50%;
    width: 150px;
}

.text-of-section {
    background-color: var(--main-color);
    text-align: center;
    border: 1px solid var(--main-color);
    border-radius: 15px;
    color: #fff;
    padding: 85px 45px 25px 45px;
    /* width: 615px; */
    width: 743px;
    margin: 0 auto;
}


.clinet-section .special-heading {
    margin-bottom: 100px;
    letter-spacing: 1.6px;
}


.text-of-section h5 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.50rem;
    margin-top: 20px;
    margin-bottom: 10px;

}

.text-of-section i {
    font-size: 30px;
}


.text-of-section p {
    line-height: 1.6;

}

@media (max-width:992px) {
    .text-of-section {
        max-width: 100%;
    }
}



.contact-us-section {
    padding-top: 60px;
    padding-bottom: 160px;
    text-align: center;
}

form .special-heading {
    padding-bottom: 50px;
}

.input {
    padding: 0px 0px 35px 0px;
    outline: 0px;

}

.input input {
    padding: 10px 20px;
    width: 550px;
    border: 2px solid #00000061;
    outline: 0;
}

.message {
    padding: 0px 0px 50px 0px;

}

.message input {
    padding: 50px 20px;
    width: 550px;
    border: 2px solid #00000061;
}

.sub input {
    width: 170px;
    padding: 14px 20px;
    background-color: #7335b7;
    border: 1px solid #7335b7;
    color: #fff;
    border-radius: 3px;
    letter-spacing: 1.2px;
}

.sub {
    transition: 0.5s;
}

.sub:hover {
    transform: translate(0px, -5px);
}

::placeholder {
    color: #000;
}

@media (max-width:767px) {

    form input {
        max-width: 50%;
    }

    .sub {
        text-align: center;
        margin: 0px;
    }

    .sub input {
        padding: 10px 0px;
        width: 111px;
    }
}



/* start-footer */
.footer {
    background-color: var(--main-color);
    border-radius: 170px 0 0 0;
    padding-bottom: 25px;
    padding-top: 80px;
}

.special-heading-of-footer {
    font-weight: 600;
    font-size: 2rem;
    color: #fff;
}


.p-of-logo-of-footer {
    line-height: 1.5;
}

.sp {
    padding-left: 65px;
}

.col1 p {
    color: #fff;
}

/* .content-of-footer {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
} */

.all-col-of-footer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* justify-content: space-between; */
    column-gap: 45px;
    width: fit-content;
    margin: auto;
}

.all-col-of-footer div:nth-child(3) {
    /* padding-right: 20px; */
    /* padding-right: 65px; */
}

.col1 ul li {
    list-style: none;
    padding-bottom: 12px;

}

.col1 ul li a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;

}

.col1 ul li:hover a {
    color: #f8842b;
}

.col1 ul {
    margin: 0px;
    padding: 0px;
    padding-left: 65px;

}

.col1 button {
    background-color: #f8842b;
    color: #fff;
    border: 1px solid #f8842b;
    padding: 10px 10px;
    width: 100%;
    margin-top: 15px;
}

.col1 input {
    width: 100%;
    padding: 10px 0px;
    background-color: var(--main-color);
    border: none;
    border-bottom: 1px solid #faf8fd;
}

.col1 input::placeholder {
    color: #fff;
}

.last-col {
    padding-bottom: 20px;
    color: #fff;
}

.last-col span {
    display: inline-block;
    padding-left: 5px;
}

.last-col:hover {
    color: #f8842b;
}

.socila i {
    color: #fff;
    padding-left: 5px;
    font-size: 25px;
}

.socila i:hover {
    color: #f8842b;
}

.end-footer {
    color: #fff;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 0px;
    margin: 0px;
}

.end-footer a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

.end-footer a:hover {
    color: #f8842b;
}

@media(max-width:1200px) {

    .all-col-of-footer div:nth-child(3) {
        padding-right: 20px;

    }

    .col1 ul {

        padding-left: 45px;

    }

    .sp {
        padding-left: 45px;
    }
}


@media(max-width:992px) {
    .all-col-of-footer {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        column-gap: 115px;
        width: 920px;
        margin-right: auto;
        margin-left: auto;
    }

    .col1 ul {

        padding-left: 0px;

    }

    .sp {
        padding-left: 0px;
    }

}

@media (max-width:767px) {
    .all-col-of-footer {
        grid-template-columns: repeat(auto-fill, minmax(725px, 1fr));
        column-gap: 0px;
        /* text-align: center;
        width: 735px;
        margin-right: auto;
        margin-left: auto; */

    }

    .col1 input,
    .col1 button {
        width: 25%;
    }
}

/* end-footer */